<!DOCTYPE HTML>
<html>
<head>
  <title>{{ site.title }}</title>
  {% include header.html %}
  <meta content="{{ site.headdesc }}" name="description"/>
  <meta content="{{ site.headkeys }}" name="keywords"/>
</head>
<body>

<div class="container">

{% include banner.html %}

<div class="main clearfix">
{{ content }}
</div>
</div>

{% include footer.html %}
<!-- baidu分析 -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb89eeb1e30f9da66c71c727631aaa630' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>

