<!DOCTYPE HTML>
<html>
<head>
  <title>{{ page.title }}|{{ site.description }}</title>
  {% include header.html %}
  <meta content="{{ site.headdesc }}" name="description"/>
  <meta content="{{ site.headkeys }}" name="keywords"/>
</head>
<body>
<div class="container">

{% include banner.html %}

<div class="main">
<div class="title">{{ page.title }}</div>
<div class="content">
  {{ content }}
</div>
</div>
</div>


<script>
    $( document ).ready(function() {
        var toc = $("<div id='toc'><div>");
        var list = $("#markdown-toc")
        $(".main").append(toc);
        list.appendTo(toc);
        toc.show();
});
</script>

{% include footer.html %}
</body>
</html>

